body{
    background: #333;
    color: #fff;
}

.navbar{
    border-bottom: #26e1ee 3px solid;
    opacity: 0.8;
}

#home-section{
    background-image: url("../img/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 600px;
}

#home-section .dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 600px;
    color: rgba(0, 0, 0, 0.6);
}

.home-inner{
    margin-top: 120px;
}

#home-section .fas,
#create-section .fas{
    color: #26e1ee;
    background: #fff;
    border-radius: 4px;
}

#explore-section .fas,
#share-section .fas{
    color: #fff;
    background: #333;
    border-radius: 4px;
}
